.property-1variant21 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 109px;
  left: 20px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
